@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: rgb(91, 165, 212);
  --green: rgb(62, 171, 122);
  --orange: #f69e78;
  --red: #ed4337;
  --yellow: #ffcc00;

  --pink-50: #fff5f7;
  --pink-80: #fff5f7;
  --pink-150: #fce1f4;
  --pink-200: #fbb6ce;
  --pink-300: #f687b3;
  --pink-400: #ed64a6;
  --pink-500: #d53f8c;
  --pink-600: #b83280;
  --purple-100: #e9d8fd;

  --white: #ffffff;
  --light-gray: #f0f0f4;
  --gray-light: #aab2bd;
  --gray-lighter: #e8eff4;
  --gray-lightest: #e6e9ed;
  --gray-20: #ededf0;
  --gray-50: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-500: #5b5b66;
  --gray-700: #29292e;
  --gray-800: #1f2729;
  --gray-900: #121214;

  --cyan-500: #61dafb;
  --yellow-580: #eba417;

  --orange-100: #e68937;
  --orange-200: #d6591e;
  --green-100: #bccd32;
  --pink-100: #d152a4;
  --purple-200: #824575;
  --purple-150: #926cb8;
  --blue-100: #324498;
}

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
